.input {
    padding: 12px;
    color: var(--black-800);
    border: 1px solid var(--black);
    background: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.input:focus {
    outline: none;
    border: 1px solid var(--black-800);
}

.input::placeholder {
    color: var(--black-500);
}

.error-message {
    color: red;
}

