.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.pagination .page-item {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 5px; 
}

.pagination .page-item.active {
    background-color: #000;
    color: #fff;
}

@media (max-width: 768px) {
    .pagination {
        flex-direction: column;
        gap: 4px
    }
    .pagination > * {
        text-align: center;
        width: 100%;
    }
}