@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Headings */
.heading-1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.heading-2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.heading-3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
}

.heading-4 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.heading-5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.heading-6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; 
}

/* Texts */
.text-large {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%
}

.text-medium {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}

.text-regular {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.text-small {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.text-tiny {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}