.dashboard {
    height: 100%;
    min-height: 100vh;
    padding: 40px 0;
}

.dashaboar__title {
    margin-bottom: 24px;
}

/* Pagination */
.dashboard__pagination {
    margin-top: 24px;
}

/* Dashboard table */
/* .dashboard__list {

} */

.dashboard__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}